* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --cor01: #9AEFFC;
    --cor02: #7FDCEB;
    --cor03: rgba(4, 182, 209, 0.2);
    --cor04: rgba(28, 187, 212, 0.6);
    --cor05: #055966;
}

.container {
    width: min(90%, 1000px);
}

main {
    display: flex;
    position: relative;
    background-image: linear-gradient(to bottom left, rgba(154, 239, 252, 0.95), rgba(127, 220, 235, 0.3));
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.glass {
    min-height: 80vh;
    width: 60%;
    background-image: linear-gradient(to bottom right, rgba(255, 255,255, 0.2), rgba(255, 255,255, 0.8));
    /* background-image: linear-gradient(to bottom right, var(--cor04), var(--cor03)); */
    backdrop-filter: blur(2em);
    border: 1px solid white;
    border-radius: 20px;
    z-index: 2;
}

.circle1 {
    position: absolute;
    background-image: linear-gradient(to bottom left, var(--cor04), var(--cor03));
    backdrop-filter: blur(2em);
    border: 1px solid white;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    top: 30px;
    left: 60px;
    z-index: 1;
}
.circle2 {
    position: absolute;
    background-image: linear-gradient(to bottom left, var(--cor04), var(--cor03));
    backdrop-filter: blur(2em);
    border: 1px solid white;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    top: 300px;
    right: 60px;
    z-index: 1;
}
